<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand"><h1><i class="fa-solid fa-utensils" style="font-size: 40px;"></i> Foodie Sphere</h1></a>
      <form class="d-flex" role="search">
        <input class="form-control me-2" id="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
      <a href="http://localhost:8080/food/new" class="btn btn-outline-dark">Add new item</a>
    </div>
</nav>
<script>
  let search = document.getElementById("search");
  
</script>