.allItems{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding-bottom: 5px;
}
.foodImg {
    height: 12rem;
    width: 17rem;
    margin: 5px;
    border-radius: 5px;
}
.cardBtn {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.edit {
    width: 7rem;
}
.delete {
    width: 7rem;
}

.showItem {
    display: flex;
    justify-content: center;
}
