<% layout('/layouts/boilerplate') -%>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <h3>Add Food Item</h3>
        <form method="POST" action="/food">
            <div class="mb-3">
                <lable for="name"class="form-label">Name</lable>
                <input name="food[name]" placeholder="Name of the food item" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <lable for="description"class="form-label">Description</lable>
                <textarea name="food[description]" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <lable for="image"class="form-label">Upload Image URL</lable>
                <input name="food[image]" type="url" class="form-control">
            </div>
            <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
        </form>
    </div>
</div>